/diary.gpg
/init.elc
/semanticdb
/session.*
/tramp
/auto-save-list
/backup
/.emacs.bmk
/ac-comphist.dat
/el-get
/.org-id-locations
srecode-map.el
/url/*
/*/*.elc
/eshell/history
/eshell/lastdir
/.*session.*
.mc-lists.el
recentf
ede-projects.el
ido.last
places
/elpa/
/projectile-bookmarks.eld
/projectile.cache
